.header {
    background-color: $blue;
    color: #FFFFFF;
    text-align: center;

    .container {
        padding: 10rem 0;
    }

    .title {
        font-weight: bold;
        font-size: 6rem;
    }

    margin: 0 0 $spacing 0;
}
